

    




  <div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
      {% comment %} <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button> {% endcomment %}
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
       {% comment %}  <svg class="bd-placeholder-img" width="100%" height="100%" aria-hidden="true" focusable="false" preserveAspectRatio="xMidYMid slice" xmlns="http://www.w3.org/2000/svg"><rect width="100%" height="100%" fill="#777"></rect></svg> {% endcomment %}
        
        <img class="d-none d-md-block w-100" src="/media/Carousel29.avif" alt="First slide">
        
        <img class="d-block d-md-none w-100" src="/media/creatuweb.avif" alt="First slide">
        <div class="d-none d-md-block container">
          <div class="carousel-caption text-start">
            <h2>Diseño y desarrollo Web Profesional.</h2>
            <p class="fs-6">
            ¿Listo para vender online? Creamos tiendas digitales y páginas web optimizadas <br>
            para posicionarte en internet. Haz crecer tu negocio con tecnología. 

            </p>
            



            <p>
              <a class="btn btn-lg btn-primary" href="https://wa.me/529931691530?text=Hola,%20quiero%20cotizar%20un%20servicio" target="_blank">
                Cotiza sin compromiso, rápido y fácil
             </a>
            </p>


          </div>
        </div>
      </div>
      {% comment %} <div class="carousel-item">
        <svg class="bd-placeholder-img" width="100%" height="100%" aria-hidden="true" focusable="false" preserveAspectRatio="xMidYMid slice" xmlns="http://www.w3.org/2000/svg"><rect width="100%" height="100%" fill="#777"></rect></svg>

        <div class="container">
          <div class="carousel-caption">
            <h1>Otro titular de ejemplo.</h1>
            <p>Algo de contenido placeholder representativo para la segunda diapositiva del carrusel.</p>
            <p><a class="btn btn-lg btn-primary" href="#">Más información</a></p>
          </div>
        </div>
      </div> {% endcomment %}
      <div class="carousel-item">
        
        <img class="d-none d-md-block w-100" src="/media/Carousel36.avif" alt="First slide">
        <img class="d-block d-md-none w-100" src="/media/creatuweb.avif" alt="First slide">

        <div class="d-none d-md-block container">
          <div class="carousel-caption text-end">
            <h1>Tu negocio en línea, sin límites</h1>
            <p class="fs-6">Diseñamos páginas web y tiendas digitales para potenciar tu marca y ventas en internet.
            </p>
            <p>
              <a class="btn btn-lg btn-primary" href="https://wa.me/529931691530?text=Hola,%20quiero%20cotizar%20un%20servicio" target="_blank">
              Cotiza gratis en WhatsApp</a></p>
          </div>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Anterior</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Siguiente</span>
    </button>
  </div>


  

  



  